html {
	max-height: 100%;
	height: 100%
}

body {
	display: flex;
    min-height: 100%;
    height: 100%;
}

ul, ol {
	padding-left: 1em;
}

#joplin-plugin-content-root {
	width: 100%
}

#joplin-plugin-content {
	display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

#root {
	display: flex;
    min-height: 100%;
}

.app {
	display: flex;
	color: var(--joplin-color);
	font-family: var(--joplin-font-family);
	font-size: var(--joplin-font-size);
	flex-direction: column;
	width: 100%;
}

.stacks {
	display: flex;
	flex-direction: row;
	flex: 1;
	height: 100%;
	overflow-x: auto;

	> .stacks-inner {
		display: flex;
		flex: 1;
	}
}

.stack {
	display: flex;
	flex-direction: column;
	background-color: var(--joplin-background-color3);
	border: 1px solid var(--joplin-divider-color);
	flex: 1 1 0;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	transition: background-color 300ms ease;
	min-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;

	> .stack-header {
		display: flex;
		width: 100%;

		> .title-wrapper {
			display: flex;
			flex-grow: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: relative;
			height: 40px;
			align-items: center;
			min-height: 40px;
			max-height: 40px;
			padding-left: 12px;
			padding-right: 0;

			> .titleedit,
			> .title {
				font-weight: bold;
				font-size: 1.5em;
				font-size: calc(var(--joplin-font-size) * 1.5);
				white-space: nowrap;	
			}

			> .title {
				border: 1px solid transparent;
			}

			> .titleedit {
				border: 1px solid var(--joplin-divider-color);
				width: 100%;
				border-radius: 4px;
				padding-right: 20px;
			}

			> .buttons {
				position: absolute;
				right: 2px;
				align-items: center;
				top: 6px;
			}
		}

		> .buttons {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex: 1;
			padding-right: 4px;
		}
	}

	&.-dragging {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}
}

.stack:has(.cards.-dragging-over) {
	background-color: var(--joplin-selected-color);
	transition: background-color 300ms ease;
}

.stack.-last {
	margin-right: 10px;
}

.cards {
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 0 10px 10px 10px;
	padding: 1em;
	padding-bottom: 0.2em;
	background-color: var(--joplin-background-color);
	border: 1px solid var(--joplin-divider-color);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
	max-height: 20em;
	overflow: hidden;

	> .content {
		display: flex;
		flex-direction: column;
		max-height: 100%;

		> .tags {
			display: flex;
			flex-direction: row;
			margin-top: 4px;
			flex-wrap: wrap;
            row-gap: 8px;

			> .tag {
				background-color: var(--joplin-background-color3);
				border: 1px solid var(--joplin-divider-color);
				border-radius: 4px;
				padding: 0 6px;
				margin-right: 8px;
			}
		}

		> .header {
			display: flex;
			flex-direction: row;

			> .title {
				display: flex;
				flex: 1;
				font-weight: bold;
				margin-bottom: 0;
				margin-top: 0;

				/* The title is rendered as HTML using `renderMarkup` and is going to be inside a
				<P> tag with a bottom margin. So we need to clear it here. */
				p {
					margin-bottom: 0;
				}
			}
		}

		> .body {
			overflow-y: auto;
			margin-bottom: 0;

			p {
				margin-bottom: 10px;
			}
		}		

		> .editor {
			display: flex;
			flex: 1;
			flex-direction: column;

			> .note-editor {
				height: 10em;
				width: 100%;
				border: 1px solid var(--joplin-divider-color);
				line-height: 1.6em;
			}
		}

		&.-editing {
			flex-direction: row;
		}
	}

	&.-editing {
		padding-bottom: 5px;
	}
}

svg[data-icon] {
	color: var(--joplin-color);
}

button:disabled {
	opacity: 0.5;
}

.kebab-button-wrapper {
	margin-right: -0.6em;
    margin-top: -0.3em;
}

.confirm-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;

	> .button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: none;
		width: 1.5em;
		height: 1.5em;
		padding: 0;
		margin: 0;

		&.-confirm {
			color: var(--joplin-color);
		}

		&.-cancel {
			margin-left: 2px;
			color: var(--joplin-color);
		}
	}

}

.color-picker {
	> input {
		width: 28px;
		height: 28px;
		color: #00000000;
		border: 1px solid var(--joplin-divider-color);
		background-color: #00000000;
		cursor: pointer;
	}
}

.alert-box {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.main-toolbar {
	display: flex;
	background-color: var(--joplin-background-color3);
	min-height: 38px;
	align-items: center;
    padding-left: 6px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-corner {
	background: none;
}

::-webkit-scrollbar-track {
	border: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(100, 100, 100, 0.7);
}